[package]
name = "webterm"
version = "0.1.0"
authors = ["fabian.freyer@physik.tu-berlin.de"]
edition = "2018"
license = "BSD-3-Clause"

[dependencies]
actix= "0.7.9"
actix-web= "0.7.19"
libc = "0.2.51"
log = "0.4.6"
pretty_env_logger = "0.3.0"
serde = "1.0.89"
serde_json = "1.0.39"
tokio = "0.1.18"
tokio-pty-process = "*"
tokio-io= "0.1.12"
tokio-codec= "0.1.1"
futures = "0.1.25"

[patch.crates-io]
tokio-pty-process = {path = "vendor/stund/tokio-pty-process"}

[lib]
name = "webterm"
path = "src/lib.rs"

[[bin]]
name = "webterm-server"
path = "src/server.rs"